/target
/bin
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/main/webapp/monitor
/src/main/webapp/monitor.zip
/.settings
.project
.classpath
/.idea
*.iml
*.eml
*.log
*.jar
*.zip
*.class
